@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --font-roboto: "Roboto", serif;
}

:root {
  --background: theme("colors.gray.900");
  --foreground: theme("colors.gray.800");
  --highlight: theme("colors.blue.500");
  --primary: theme("colors.amber.50");
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: theme("colors.gray.900");
    --foreground: theme("colors.gray.800");
    --highlight: theme("colors.blue.500");
    --primary: theme("colors.amber.50");
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
